button($clr)
  display inline-block
  border-radius 4px
  border 1px solid $clr
  color $clr
  text-decoration none
  padding 10px 30px
  display inline-flex
  align-self center
  &hover
    color $bgcolor
    background-color $clr
