size($width, $height)
  width $width
  height $height

circle($ratio)
  width $ratio * 2
  height $ratio * 2
  border-radius $ratio

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)
